$bg-color: rgb(233, 235, 133);
$start-color:#31CDB0;
$mid-color:#2C8EC4;
$end-color:#3551A4;
body{
    margin: 0;
    font-family: 'Roboto' sans-serif;
    background-color: $bg-color;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;    
    background-image: linear-gradient(to right, $start-color, $mid-color, $end-color);
    padding-bottom: 5px;
    z-index: 999;
    img{
        position: relative;
        left: 3%;
        padding-top: 5px;
    }
    nav{
        position: relative;
        left: 80%;
        padding-top: 10px;
        ul{
            list-style-type: none;
            display: flex;
            li{
                padding-right: 20px;
                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }    
    }
}
.filler{
    padding-top: 10%;
}
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    div{
        margin: 0% 5%;
        text-align: center;
    }   
   .imgc{
        border: 0;
        border-radius: 25%;
        width: 300px;
        transition: 0.4s;
    } 
    .imgc:hover{
        transform: translateY(-5px);
        -webkit-box-shadow: 18px 19px 24px -6px rgba(92,52,62,1);
        -moz-box-shadow: 18px 19px 24px -6px rgba(92,52,62,1);
        box-shadow: 18px 19px 24px -6px rgba(92,52,62,1);
        transition: 0.4s;
    }     
}
h1{
    padding-left: 10px;
}
.about-it{
    margin-left: 3%;
    .size-control{
        font-size: 20px;
        font-weight: lighter;
    }
}
.contact{
    display: flex;
    margin-left: 3%;
    .form-group{
        margin-right: 20px;
        .form-input{
            font-size: 25px;
            border: 1px solid black;
            border-radius: 5px;
        }
    }
}

.btn{
    padding: 10px 25px;
    border: 0;
    border-radius: 50px;
    color: wheat;
    background-image: linear-gradient(to right, $start-color, $mid-color, $end-color);
    font-size: 25px;
    cursor: pointer;
    outline: none;
}
.map-wind{
    border-radius: 15px;
    width: 700px;
    height: 500px;
}
.foot{
    text-align: center;
    color:whitesmoke;
    background-color: $end-color;
    padding-bottom: 0.1%;
    h3{
        padding-top: 1%;
        font-weight: lighter;
    }
}